
<!DOCTYPE html>
<html>


<body>
<div class="container">
{% block content %}

<h1> {{ title }} is working </h1>
<h2>Choose your cells or markers!</h2>
<p>You can either select different cell types you want to run in FACS/CyTof or you can select surface/intracellular markers you want to study. </p>

{% for obj in object_list %}
/panel/id/
{% url 'panel:detail' id=obj.id %}
<a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/>
{{obj.timestamp}}<br/>0
{{obj.updated}}<br/>
{{obj.id}}<br/>

{% endfor %}
  
{% endblock content %}
</div>



</body>
</html>


