{% extends "base.html" %}


{% block head_title %}Welcome | {% endblock %}

{% block content %}

<h1>Cellmarkers 2.0 is coming soon!</h1>
<!-- offset makes margin on the left -->
<!-- <div class="col-sm-6 col-sm-offset-3">  -->

<h1>Choose your cells or markers!</h1>
<form method='GET' action=''>
  <input type='text' name='q' placeholder='Search Panel' value='{{ request.GET.q }}'/>
  <input type='submit' value='Search' />
</form> <br/>

<!-- newly added signupform -->
<form method='' action=''>
{{ sign_up_form }}
</form>

<div class="row">
{% for obj in object_list %}
  <div class="col-sm-6">
    <div class="thumbnail">
      <!--    Display Image    -->
    	{% if obj.image %}
    	<img src="{{ obj.image.url }}" class='img-responsive' />
    	{% endif %}
      <div class="caption">
        {% if obj.draft %}<h3>USER ONLY: Draft</h3> {% endif %} 
        {% if obj.publish > today %} <h3>USER ONLY: Future Panel</h3> {% endif %} 
        <!--     Display Title & Publish time    -->
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small> {{obj.publish}} </small> </h3>
        <!--     Display Author if exist     -->
        {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}
        <!--     Display Panel Description     -->
        <p>{{obj.description|linebreaks|truncatechars:150}}</p>
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a> 
           <br/><br/>
           <a href="{{ obj.get_absolute_url}}delete" class="btn btn-danger" role="button">Delete</a></p>
      </div>
    </div>
  </div>

{% cycle "" "<div class='col-sm-6'><hr/></div></div><div class='row'>" %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %} &q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

<!--   # Copied from other source -->
<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							#
						</th>
						<th class="text-center">
							Cell Types
						</th>
						<th class="text-center">
							Intracellular or Extracellular Markers
						</th>
						<th class="text-center">
							Fluorophore
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0'>
						<td>
						 1
						</td>
						<td>
						<input type="text" name='name0'  placeholder='Cell Types' class="form-control"/>
						</td>
						<td>
						<input type="text" name='mail0' placeholder='Intracellular or Extracellular Markers' class="form-control"/>
						</td>
						<td>
						<input type="text" name='mobile0' placeholder='Fluorophore' class="form-control"/>
						</td>
					</tr>
                    <tr id='addr1'></tr>
				</tbody>
			</table>
		</div>
	</div>
	<a id="add_row" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="pull-right btn btn-default">Delete Row</a>
</div>
  
  
  
  
</div>
<!-- </div> -->
  
{% endblock content %}


<!-- Below are usable elements -->
<!-- 1. Adjust columns if they arrange weirely -->
<!-- <div class="clearfix visible-sm-block"></div> -->